**.mat
**.asv
**.h5
**.hdf5
**.csv
**.pdf
**.png
/paramID/impact_data
/paramID/initial_states
/paramID/results/
/paramID/SimResults/
/paramID/AGX_init_states/
/performance/data
!/Plotting/230120_DataForPlots.mat

