<?xml version="1.0" ?>
<robot name="box7">
  <link name="box7_body">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.207 0.158 0.099"/>
      </geometry>
      <material name="CardBoard">
        <color rgba="0.2667536437511444 0.17454615235328674 0.06440283358097076 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.431"/>
      <inertia ixx="0.004130" ixy="0" ixz="0" iyy="0.006300" iyz="0" izz="0.008090" />
    </inertial>
    <collision>
      <geometry>
        <box size="0.207 0.158 0.099"/>
      </geometry>
    </collision>
  </link>
</robot>